# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Kick the ball.iml
# Datasource local storage ignored files
/../../../../../../:\GAMES\Kick the ball\.idea\.idea.Kick the ball\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
